/////////////////////////////////////
// EXTRA
////////////////////////////////////


/////////////////////////////////////
// REMOVE BLUE OUTLINE
/////////////////////////////////////
textarea:focus,
input:focus{
    outline: none;
}


/////////////////////////////////////
// STOP CHROME HIGHLIGHTING DIV'S
/////////////////////////////////////
*:focus {
    outline: none;
}


/////////////////////////////////////
// CLICKABLE
//
// IMPORTANT - ADD THIS CLASS TO DIV'S THAT LAUNCH MODALS
// FAILURE TO DO SO WILL MEAN MODALS WON'T OPEN ON MOBILES
// ("A" TAGS AND BUTTONS WILL THOUGH)
//
////////////////////////////////////
.clickable {
    cursor: pointer;
}


//////////////////////////////////////////
// DON'T DISPLAY THE WORDPRESS EDIT LINK
/////////////////////////////////////////
.edit-link {
    display: none;
}

