//PUTS A WHITE BOX AT THE TOP OF THE SCREEN
@media screen and (max-width: $tablet-wide) {
	.white-space {
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 64px;
		left: 0;
	}
}

.site-header {
	// background-color: rgba(0, 0, 0, 0.9);
	// background-size: cover;
	// width: 100%;
	// max-width: 1280px;
	// margin: 0 auto;
}

.site-branding {
	text-align: center;
}

.site-title {
	display: none;
	// font-family: Lato, sans-serif;
	// font-size: 3em;
	// font-weight: 300;
	// line-height: 1.2em;
	// letter-spacing: 7px;
	// color: #fff;
	// text-transform: uppercase;
	// word-break: break-word;
}

.site-title a {
	// text-decoration: none;
	// color: inherit;
}

.site-title a:hover,
.site-title a:focus {
	// text-decoration: none;
}

// this creates the line between the title and description
// .site-title::after {
// 	display: block;
// 	content: "";
// 	margin: .7em auto 0;
// 	width: 3em;
// 	border-bottom: solid 2px #fff;
// 	opacity: .5;
// }

//font-size 0 is used to hide the description
.site-description {
	// margin: 2em 2em 3em;
	// font-size: 0;
	// color: #fff;
}