body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-weight: 300;
	-webkit-font-smoothing: antialiased; // Safari - Fixes the font-weight issue where text is too bold
	-moz-osx-font-smoothing: grayscale; // Firefox - As above, but for Firefox
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

