// MASTHEAD

#masthead {
	// background-color: $color__brand-green;
}


// REMOVES THE GAP UNDER THE MASTHEAD
div#primary {
    margin-top: -50px;
}





.main-navigation {
	position: relative;
	// display: block;
	text-transform: uppercase;
	float: right;
	margin: -80px 25px;

	@media screen and (max-width: 880px) {
		margin: -70px 25px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			// top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: inline-block;
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $color_red;
		}
	}

	a {
		// display: block;
		padding: 0 10px 0 10px;
		text-decoration: none;
		font-family: 'Oswald', sans-serif;
		font-size: 20px;
		line-height: 24px;
		font-weight: 300;
		color: #fff;
		text-shadow: 2px 2px #000;
		transition: $hover__fast;
		@media screen and (max-width: $tablet-wide) {
			font-size: 10px;
			font-size: 1rem;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
