/*--------------------------------------------------------------
# Hero Image
--------------------------------------------------------------*/

// .site-content {
//     margin-top: -25px;
//     padding-bottom: 25px;
// }

.site-header {
    background: $color_dark_blue;
}

#heroimage {
    // background: $color_dark_blue;
}

.heroimage {
    margin-top: 0;
    width: 100%;
    max-width: 1280px;
    margin-bottom: -7px;
    margin-left: auto;
    margin-right: auto;
}