/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/

.logo {
	display: block;
	height: auto;
	max-width: 320px;
	padding: 25px;
	position: relative;
}

@media screen and (max-width: 880px) {
	.logo {
		max-width: 275px;
	}
}

@media screen and (max-width: $tablet-wide) {
    .logo {
        max-width: 200px;
        margin-top: -100px;
        padding: 65px 0 0 25px;
        position: absolute;
        top: 50px;
    }
}

@media screen and (max-width: $mobile-wide) {
    .logo {
        max-width: 135px;
        margin-top: -100px;
        padding: 60px 0 0 20px;
        position: absolute;
        top: 50px;
    }
}

/*--------------------------------------------------------------
# Hero Image
--------------------------------------------------------------*/

.site-header {
    background: $color_dark_blue;
}

#hero-image {
    background: $color_dark_blue;
}

.hero-image {
    margin: -25px auto;
    padding-bottom: 25px;
    width: 100%;
    max-width: 1280px;
}


/*--------------------------------------------------------------
# Social Media Section
--------------------------------------------------------------*/

.social-media-section {
    background-color: #000;
    text-align: center;
    margin-top: -32px;
    padding: 32px 0;
}

/*--- Spacing between Icons ---*/

i {
    transition: $hover__fast;
    color: #fff;
}

i a {
    transition: $hover__fast;
    color: #fff;
}

i a:hover {
    transition: $hover__fast;
    color: $color_red;
}
// /*--- Official colours of Social Media Icons. ---*/

.social-media-section .fa-facebook-official:hover { color: #3b5998; }
.social-media-section .fa-twitter:hover {   color: #55acee; }
.social-media-section .fa-apple:hover { color: #999; }
.social-media-section .fa-spotify:hover { color: #00e461; }
.social-media-section .fa-soundcloud:hover { color: #FF6600; }
.social-media-section .fa-youtube:hover { color: #bb0000; }
.social-media-section .fa-instagram:hover { color: #125688; }


// Fixed Width Icons
// -------------------------

.fa-fw {
    width: 80px !important;
}

.social-media-section i {
    font-size: 36px;
    transition: $hover__fast;
}

@media screen and (max-width: $tablet-wide) {
    .social-media-section i {
        font-size: 24px;
    }
    .fa-fw {
        width: 40px !important;
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    background-color: #000;
    text-align: center;
    // font-size: 8px;
    // font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    // margin-top: -32px; //removes gap between back to top and social icons
    // padding-top: 32px; //adds spacing for the gap removed with negative margin
}

.back-to-top a {
    transition: $hover__fast;
    color: #fff;
    text-decoration: none;
}

.back-to-top a:hover {
    transition: $hover__fast;
    color: $color_red !important;
}

.fa-angle-up:hover,
.fa-angle-down:hover {
    color: $color_red;
}

