/*--------------------------------------------------------------
# Section Padding
--------------------------------------------------------------*/

// .section-padding {
//     padding: 0 20px;
// }

hr {
  margin: 60px auto;
  width: 96%;
  max-width: $widescreen;
}